
body{
margin:0;
 max-width: 100%;
}

.header-image{
  max-width: 100%;
  height: 40vh;
  background-image:url(./images/main.jpg);
  background-size: cover;
  z-index: 0;
 
}


.header{
  margin:0 auto;
  width:100%;
  height:80px;
  position: fixed;
  top:0;
  z-index: 10;
  background-color:rgba(0,0,0,0.8);
  
}
h1 span{
  color:#A6ACFF;
}
h1{
  height:80px;
  line-height:80px;
  margin-top:0;
  margin-bottom:21px;
  margin-left:20px;
  font-size:26px;
  float:left;
  
  color:white;
  
}


.header ul{
float:right;
list-style:none;
display:flex;
height:24px;
margin:28px 0;
}
.header a{
  color:white;
  opacity:1;
  text-decoration: none;
  margin:28px 20px;

}

.clear{
  clear:both;
}

.conteiner{
  margin:0 auto;
  width:1024px;
  max-width: 90%;
  letter-spacing:0.05em;
  z-index: 10;
  text-align:center;
}


h2{
  color:#4B52A7;
  margin-top:0;
  padding-top:80px;
  font-size:24px;
  margin-bottom:0px;
  line-height:1;

}

.sub-title{
  padding-top:6px;
  font-size:14px;
  margin-top:0;
 

}
.main-text p{
  font-size:16px;
  margin:40px auto 30px;
  max-width:600px;
  
  text-align:left;
 
}
p span{
font-weight:bold;
}
.tree{
  margin:0 auto;
  max-width:600px;
  
  display:block;  

  margin-bottom:40px;
}

h3{
  font-size:16px;
  margin-top:20px;
}
.main-menu{
  display:flex; 
  width:100%; 
  justify-content: space-between;
}

.main-like{
  text-align:center;
  color:#FFFFFF;
  display:inline-block;
  background-color:#8AB3DC;
  border-radius:10px;
  margin:0;
  width: 48%;
 

}
.subname{
  display: block;
font-size:12px;
margin:0 10px;
padding-top:3px;
padding-bottom:10px;
border-bottom: 1px solid #FFF ;

}



.main-like ul{
  display:list-item;
  color:#FEFFC7;
  margin-top:20px;
  margin-bottom:20px;
  text-align:left;
  list-style:none;
  padding-left:30px;
 
}


li.main-list{
height:30px;
} 
.web-link{
  color:#FFE8F6;
  text-decoration: none;
}




.sumple{
  width:100%;
}


.sumple h3 , h3.form , h3.java{
  display:inline-block;
  color:#32839C;
  margin-top:80px;
  margin-bottom:40px;
  border-bottom:1px solid #B7B7B7;
  width:100%;
}
.picture{
  display:flex;
  
  margin:0 auto;
}
.pic-card{
  width:25%;
 

  
}
.pic-card img{

  width:90%;
  vertical-align: bottom;
  
}

h4{
  display:inline-block;
  vertical-align: top;
  font-size:14px;
  width:90%;
  background-color:#758BAF;
  color:#FFFFFF;
  margin:auto 0;
  padding-top:4px;
  padding-bottom:6px;
}
.pic-card p{
  display:inline-block;
  font-size:12px;
  padding-top:4px;
  width:90%;
  margin:0;
  text-align:left;
}


p.necess{
  display:inline-block;
  height:24px;
  width:600px;
  font-size:16px;
  text-align:left;
  margin:0;
  
  
}
.requied span{
  display:inline-block;
  font-size:12px;
  color:#FFF;
  background-color:#32839C;
  border-radius:4px;
  margin-right:10px;
  height:24px;
  padding:0 8px;
  line-height: 24px;
  vertical-align: bottom;
}
.form-input{
  width:598px;
  height:38px;
  margin-top:10px;
  border: 1px solid #B7B7B7;
  margin-bottom:20px;
  padding:0;
  border-radius: 10px;  
}
textarea.form-input{
  vertical-align: middle;
  margin-bottom:40px;
}
.submit,.jikko{
  width:300px;
  height:40px;
  border:none;
  background: #8AB3DC 0% 0% no-repeat padding-box;
  color:#FFF;
  font-size:16px;
  box-shadow:  0px 4px 0px 0px #818694;
  border-radius: 4px;  
  margin-bottom:40px;
  margin-top:0;
}
.submit:active{
  box-shadow: none;
  position:relative;
  top:1px;

}
.jikko{
  margin:0 auto;
}

.url a{
  display:inline-block;
  margin:auto;
  text-align:center;
  display: block;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  text-decoration: none;
 }
.footer{
  width:100%;
  height:120px;
  background-color:#8AB3DC;
  color:#FFF;
  margin-top:80px;
}
.footer p{
  font-size:16px;
  padding-top:20px;
  margin-top:0;
  text-align: center;
}



@media(max-width: 768px ){



.header-phone{
  background-image:url(./images/main_sp.jpg);
  background-size: cover;
  background-position: center;
  margin:0 auto;
  width:100%;
  height:100vh;
  z-index: 0;

  
}

.header{
  height:48px;
  
}
h1{
  height:28px;
  line-height: 28px;
  
  font-size:20px;
  margin:0;
  padding:  10px 20px;
 
  
}
.header ul{
  display:none;
}
.header-image{
  display:none;
}
h2{
  font-size:20px;
}
.sub-title{
  padding-bottom:10px;
}
.main-text p {
  font-size:14px;
  width:90%;
  margin-bottom:25px;
}
.tree{
  width:100%;
  
}
.main-menu{
  display:block;
  
}
.main-like, .website{
  width:100%;
  margin-bottom:10px;
  height:198px;
}
.website{
  margin-bottom:0;
}
h3{
  margin-top:20px;
}
.sumple h2{
  font-size:20px;
  margin-bottom:4px;
}
h2.sub-title{
  font-size:12px;
  padding:0;
  margin:0;
  
}
.sumple h3{
  margin-top:80px;
  margin-bottom:40px;
}
.picture{
  display:block;
  width:80%;
}
.pic-card{
  
  width:100%;
  margin:0 auto;
}

.pic-card img , .pic-card h4 , .pic-card p{
  width:100%;
}
.pic-card p{
  margin-bottom:20px;

}

h3.form{
  margin-top:60px;
  margin-bottom:40px;
}
.form-input{
  width:100%;
  box-sizing: border-box;
}
p.necess{
  width:100%;
 font-size:14px;
}
textarea.form-input{
  margin-bottom:0;
}
input.submit{
  padding:0;
  margin-top:40px;
  width:100%;
 

}
h3.java{
  width:100%;
  margin-bottom:0;
}
.footer p{
  margin-top:0px;
}
}